<%= render partial: 'shared/header' %>

<div class='container-fluid p-5 politician'>
  <div class='row'>
    <div class='col-md-4 col-12'>
      <%= search_form_for @query do |f| %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
          </div>
          <%= f.search_field :name_cont, class: 'form-control', aria_label: 'Default' %>
          <%= select_tag(:order_by, options_for_select([['Ordenar por', :name], ['Nome', :name], ['Gastos', :expenses]]), class: 'form-select') %>
          <%= f.submit 'Buscar', class: 'btn btn-dark' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class='d-flex flex-row flex-wrap'>
    <% @politicians.each do |politician| %>
      <div class='d-flex flex-column align-items-center p-1 politician-div'>
        <%= image_tag politician.picture, class: 'img-thumbnail', style: 'width:15vw' %><br>
        
        <%= link_to politician.name, politician_path(politician) %>
        Gastos totais: <%=format_currency(politician.total_expenses)%><br><br><br>
      </div>
    <% end %>
  </div>
</div>
